.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 9999;
}

.loader {
    width: 60px;
    height: 60px;
    border: 8px solid transparent;
    border-top-color: var(--color-primario);
    border-right-color: var(--color-exito);
    border-bottom-color: var(--color-bg-cuarternario);
    border-left-color: var(--color-terciario);
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}