.categoria-card-link {
    text-decoration: none;
    color: inherit;
}

.categoria-card {
    position: relative;
    width: 100%;
    padding-bottom: 75%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    border: 2px solid var(--color-exito);
    display: flex;
    align-items: flex-end;
}

.categoria-card:hover {
    transform: scale(1.03);
}

.categoria-card-title-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(54, 168, 98, 0.507);
    padding: 10px 15px;
    text-align: center;
    color: white;
}

.categoria-card-title {
    margin: 0;
    font-size: 1.3rem;
    font-weight: bold;
}