.categorias-page {
    padding-bottom: 4rem;
    min-height: 100vh;
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.categorias-page-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--color-texto);
    text-align: center;
    margin-bottom: 0;
}

.btn-back-categorias {
    margin-right: 1rem;
    line-height: 1;;
    background-color: var(--color-exito);
    color: white;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: background-color 0.2s, transform 0.2s;
}

.btn-back-categorias:hover {
    background-color: var(--color-exito);
    transform: scale(1.05);
}