.footer {
  background-color: var(--color-texto);
  color: var( --color-texto-claro);
  padding: 2rem 1rem;
  text-align: center;
  width: 100%;
  margin-top: auto;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  margin: 0;
  font-size: 0.9rem;
}

.footer-social-icons {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footer-social-icons a {
  color: var(--color-texto-claro);
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.footer-social-icons a:hover {
  color: var(--color-primario);
}