:root {
  --color-primario: #fb850c;
  --color-secundario: #f9ce7d;
  --color-terciario: #f491ce;
  --color-bg-primario: #e9ecef;
  --color-bg-secundario: #f8f9fa;
  --color-bg-terciario: #0498ba;
  --color-bg-cuarternario: #474ec1;
  --color-exito: #04a57e;
  --color-error-primario: #bb2d3b;
  --color-error-secundario: #f95b59;
  --color-texto: #212529;
  --color-texto-claro: #6c757d;
}

@font-face {
  font-family: 'YuweLongoFont';
  src: url('./assets/fonts/AspiraXWide-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YuweLongoFont';
  src: url('./assets/fonts/AspiraXWide-Bold.woff2') format('woff2'); 
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'YuweLongoFont', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}